.order-list-wrapper .search-wrapper .btn {
  margin: 0 20px;
}
.order-list-wrapper .search-wrapper .btn:first-child {
  margin-left: 0;
}
.order-list-wrapper .search-wrapper .amount-slider-wrapper {
  display: block;
}
.order-list-wrapper .search-wrapper .amount-slider-wrapper > span {
  padding-right: 10px;
  padding-left: 5px;
  box-sizing: border-box;
  width: 100%;
}
