<!--
 * @Author: Always
 * @LastEditors: Always
 * @email: 740905172@qq.com
 * @Date: 2020-01-07 15:09:25
 * @LastEditTime: 2020-06-08 19:00:11
 * @FilePath: /koala_background_system/src/pages/document.ejs
 -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
     <meta
       name="viewport"
       content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no"
     />
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="theme-color" content="#000000" />
  <title>KOALA 管理系统</title>
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1871393_5dc1ch9hr4e.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>