.add-product-wrapper {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  .product-editor {
    width: 100%;
  }
  .item-title {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-left: 4px solid #1890ff;
  }
  .add-product-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
    width: 50%;
    border-left: 1px solid #ccc;
    margin-bottom: 20px;
    &.width-100 {
      width: 100%;
      border-left: none;
      padding-left: 0;
    }
    &:nth-child(odd) {
      padding-left: 0;
      border: none;
    }
    &:nth-child(even) {
      padding-right: 0;
    }
    .product-parameter-wrapper {
      display: flex;
      flex-wrap: wrap;
      .product-parameter-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        min-height: 143px;
        margin-bottom: 10px;
      }
    }
    .product-item-value {
      display: flex;
      align-items: center;
      flex: 1;
      max-width: 300px;
    }
  }
  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    .submit {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .add-product-wrapper {
    flex-direction: column;
    .add-product-item {
      width: 100%;
      border: none !important;
      padding: 0 !important;
      margin-bottom: 20px;
    }
  }
}
